@import 'tailwindcss';

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_thin.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_thin.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_thin.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_thin_italic.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_thin_italic.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_thin_italic.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_thin_italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_light.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_light.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_light.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_light_italic.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_light_italic.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_light_italic.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_light_italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_semibold.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_semibold.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_semibold.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../_fonts/proxima-nova/proxima_nova_semibold_italic.woff2') format('woff2'),
    url('../_fonts/proxima-nova/proxima_nova_semibold_italic.woff') format('woff'),
    url('../_fonts/proxima-nova/proxima_nova_semibold_italic.ttf') format('truetype'),
    url('../_fonts/proxima-nova/proxima_nova_semibold_italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Giuliano Handwriting';
  src: url('../_fonts/giuliano-handwriting/giuliano-handwriting.woff2') format('woff2'),
    url('../_fonts/giuliano-handwriting/giuliano-handwriting.woff') format('woff'),
    url('../_fonts/giuliano-handwriting/giuliano-handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;
  --color-black: #231f20;
  --color-grey: #5e5e5e;
  --color-white: #e7e7e3;
  --color-beige: #faf6f1;
  --color-dark-brown: #4b433e;
  --color-light-brown: #9b6546;
  --color-link-blue: #0000ff;
  --color-transparent: transparent;

  --font-proxima-nova: "Proxima Nova", Arial, sans-serif;
  --font-giuliano-handwriting: "Giuliano Handwriting", cursive;

  --text-*: initial;
  --text-paragraph: 1.125rem;
  --text-paragraph--font-weight: 100;
  --text-heading: 1.875rem;
  --text-heading--font-weight: 100;
  --text-heading--line-height: 30px;

  --breakpoint-*: initial;
  --breakpoint-phone: 425px;
  --breakpoint-tablet: 800px;
  --breakpoint-desktop: 1280px;
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  * {
    color: #9b6546;
    font-family: 'Proxima Nova', Arial, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading uppercase;
  }

  p,
  input,
  textarea,
  span {
    @apply text-paragraph;
  }

  a {
    @apply min-[1000px]:text-light-brown ease-in-out duration-200;
  }
}

.spinner {
  width: 20px;
  height: 20px;
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #e7e7e3;
  animation: spin 1s linear infinite;
}

.spinner::after {
  animation-delay: 0.5s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* swiper styles */

:root {
  --swiper-pagination-color: #4B433E;
  --swiper-pagination-bullet-inactive-color: #4B433E;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;
}

.swiper-pagination-v {
  left: -30px !important;
}

.swiper,
.swiper-pagination-bullets-dynamic {
  overflow: visible !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  width: 6px !important;
  height: 6px !important;
}



.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  @apply bg-light-brown/80 rounded-[6px] scale-75;
  top: 22px !important;
  transition: all 0.2s ease;
}


.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  color: #9b6546;
  transition: color 0.2s ease;
}

.swiper-button-next {
  right: 0 !important;
  top: 18px !important
}

.swiper-button-prev {
  left: 0 !important;
  top: 18px !important
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-light-brown/90;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}

.swiper-button-next::after {
  content: 'next';
}

.swiper-button-prev::after {
  content: 'prev';
}